:root {
    --headline-color: #41b67a;
    --hover-color: #a3f7b5;
    --headline-font: bold 1rem Inconsolata, monospace, helvetica;
    --text-font: lighter .8rem calibri, helvetica; 
    --background-color: rgb(250, 250, 250);
}

body {
    background-color: gray;
}

main {
    max-width: 250px;
    min-height: 55vh;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3.5rem 2.5rem auto
}

header {
    grid-column: 1 / 4;
    width: 100%;
    text-align: center;
    background-color: #e8ffec;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#logo {
    height: 1.5rem;
    width: 1.5rem;
    margin: 2.5vh;
}

input[type=radio] {
    display: none;
}

input[type=button] {
    font: var(--headline-font);
    padding: .25rem;
    color: var(--headline-color);
    background-color: #e8ffec;
    width: 100%;
    margin: .5rem auto;
    border-radius: 3px;
    transition: border-color, background-color 200ms ease-in-out;
}

input[type=button]:hover {
    border-color: var(--hover-color);
    background-color: var(--background-color);
}

.content h4 {
    color: var(--headline-color);
    font: var(--headline-font);
}

label {
    /*border: 1px solid lightgray;*/
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    border-bottom: 1px solid lightgray;
    text-align: center;
    font: var(--headline-font);
    color: var(--headline-color);
    padding: .5rem;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #e8ffec;
}

.content {
    display: none;
    background-color: var(--background-color);
    font: var(--text-font);
    padding: 1rem;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: gray;
    text-align: center;
    grid-column: 1 / 4;
}

#nodeInfo table {
    width: 100%;
}

table th {
    color: rgb(175, 175, 175);
}

form textarea {
    min-height: 135px;
    margin: 2vh auto 1vh auto;
    width: 100%;
    border: 1px solid lightgray;
    font: .8rem Inconsolata, monospace, calibri, helvetica;
    padding: .25rem;
    box-sizing: border-box;
    transition: border-color 200ms ease-in-out;
    color: var(--headline-color);
    resize: none;
}

form textarea:hover, form textarea:focus {
    border-color: var(--hover-color);
}

#section1 h4:nth-child(1) {
    margin: 1rem;
}

#section2 p {
    margin: 0;
    display: inline;
    color: var(--headline-color);
    width: max-content;
}

#section2 p:hover {
    color: var(--hover-color);
}

#invoiceDescription {
    margin: 8vh auto;
}

#tab1:checked ~ #section1, #tab2:checked ~ #section2, #tab3:checked ~ #section3 {
    display: block;
}

main [id^="tab"]:checked + label {
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    border-bottom: 0;
    color: var(--headline-color);
}

main [id^="tab"]:hover + label {
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    border-bottom: none;
    color: var(--headline-color);
}
